

<!DOCTYPE html>
<html lang="en">

	<%-include('layouts/header')-%>

<body>

	<%-include('layouts/navbar')-%>
      
	<!-- Page Header -->
  <header class="masthead" style="background-image: url('/img/contact-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Login page</h1>
            <span class="subheading">Enter your details</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
          <% if (error != "" ) { %> 
          <ul class="list-group">
            <li class="list-group-item list-group-item-danger"><%=error %></li>
          </ul>
          <% } %>
          <!-- Contact Form - Enter your email address on line 19 of the mail/contact_me.php file to make this form work. -->
        <!-- WARNING: Some web hosts do not allow emails to be sent through forms to common mail hosts like Gmail or Yahoo. It's recommended that you use a private domain email address! -->
        <!-- To use the contact form, your site must be on a live web host with PHP! The form will not work locally! -->
        <form name="sentMessage" id="contactForm" novalidate action="/users/login" method="POST" enctype="multipart/form-data">
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Name</label>
              <input type="text" class="form-control" placeholder="Your name" id="name" name="name" value="<%=name%>" required data-validation-required-message="Please enter your name">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Password</label>
              <input type="password" class="form-control" placeholder="Your Password" id="password" name="password" required data-validation-required-message="Please enter your password"/>
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <br>
          <div id="success"></div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary" id="sendMessageButton">Login</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <hr>

  <%-include('layouts/footer')-%>
  <%-include('layouts/scripts')-%>

</body>

</html>
